.one-col{
    width: 100%;
}
.container .two-col:nth-child(2n+1){
    margin-right: 2em;
}
.two-col{
    width: calc(50% - 1em);
}
.container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
.A4 .container{
    padding: 1rem 10mm 1rem 5mm;
}
