.sidebar-container {
    color: var(--color);
    background-color: var(--background-color);
    height: 66rem;
}
.sidebar-container.colorful{
    padding: 2rem 1rem;
}
.sidebar-container.black{
    padding: 2rem 1rem;
    border: 1px solid var(--border-color);
}

.A4 .sidebar-container.colorful{
    padding: 1rem 1.1rem;
}
.A4 .sidebar-container.black{
    padding: 1rem 1.1rem;
}
.sidebar-container .id-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-direction: column;
}
.sidebar-container .id-container h1{
    margin-bottom: .5rem;
}
.sidebar-container .id-container .post{
    font-size: 20px;
}
.sidebar-container .info-container .base-info, .sidebar-container .info-container .contract-info, .sidebar-container .skill-container .skill-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.sidebar-container .info-container, .sidebar-container .skill-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
