.menubar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 14px;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
}

.menubar .menubar-container {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    box-shadow: 0 0.5mm 2mm rgb(0 0 0 / 30%);
}
.A4 .menubar .menubar-container,
.menubar .menubar-container.toggle {
    display: block;
}
.menubar .icon-container{
    cursor: pointer;
}
.menubar .icon-container .icon{
    fill: #fff;
}
.print-btn-container,
.col-btn-container,
.ratio-btn-container {
    display: flex;
}
.A4 .menubar{
    position: static;
    background-color: transparent;
}
.A4 .menubar .print-btn-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
.A4 .menubar .col-btn-container{
    position: fixed;
    top: 50px;
    right: 10px;
}
.A4 .menubar .ratio-btn-container{
    position: fixed;
    top: 90px;
    right: 10px;
}
@media print {
    .print-btn{
        display: none;
    }
}
.print-btn{
    background-color: var(--background-color);
    color: var(--color);
    padding: 5px 10px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--background-color);
}
.A4 .print-btn{
    width: 76px;
    box-shadow: 0 0.5mm 2mm rgb(0 0 0 / 30%);
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.A4 .print-btn +.print-btn{
    margin-left: 5px;
}