:root {
    --color: #333;
    --background-color: #FFF;
    --default-color: #333;
    --border-color: #333;
    --border-bg-color: #FFF;
}

.contract-info .icon-container a{
    color: var(--color);
}
.contract-info .icon-container .icon use{
    fill: var(--color);
}

.screen{
    background-color: #fff;
    margin-top: 34px;
    overflow: hidden;
}