:root {
    --color: #333;
    --background-color: #FFF;
    --default-color: #333;
    --border-color: #333;
    --border-bg-color: #FFF;
}

.contract-info .icon-container a{
    color: var(--color);
}
.contract-info .icon-container .icon use{
    fill: var(--color);
}

.print-btn-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
.col-btn-container{
    position: fixed;
    top: 50px;
    right: 10px;
}
@media print {
    .print-btn{
        display: none;
    }
}
.print-btn{
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.print-btn +.print-btn{
    margin-left: 5px;
}